.dbt-content-table {
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 2em 0;
    padding:1px 1px 0 1px;
   
    display: inline-block;
    max-width: 100%;
}

.dbt-admin-content-table {
    font-size: .9em;
}


.dbt-table  {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: normal;
    background: #FFF;
    min-width: 100%;
    width: inherit; 
    max-width: inherit;
}
.dbt-table thead tr, .dbt-table thead tr a {
    text-align: left;
    color: rgba(255, 255, 255, .8);
}
.dbt-table thead th {
    white-space: nowrap;
}
.dbt-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.dbt-table tbody tr:last-child {
    border-bottom:none;
}
.dbt-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.dbt-table td {
    padding: .7em .9em;
    border: 0.5px solid #dddddd;
    border-left: none;
    border-right: none;
}
.dbt-table th {
    padding: .7em .9em;
    border:none;
}


.dbt-block-table-xsmall { font-size:.6em;}
.dbt-block-table-small { font-size:.8em;}
.dbt-block-table-normal { font-size:1em;}
.dbt-block-table-big { font-size:1.2em;}


.dbt-table-blue thead tr, .dbt-table-blue thead tr>th  { background-color: #004798; color:#FFF;}
.dbt-table-blue tbody tr:last-of-type {  border-bottom: 2px solid #003a7c;}
.dbt-table-blue tbody tr:nth-of-type(even) {    background-color: #e9e9f1;}

.dbt-table-green thead tr, .dbt-table-green thead tr>th { background-color: #009879; color:#FFF}
.dbt-table-green tbody tr:last-of-type {  border-bottom: 2px solid #009879;}
.dbt-table-green tbody tr:nth-of-type(even) {    background-color: #f1faf8;}

.dbt-table-red thead tr, .dbt-table-red thead tr>th { background-color: #c91616; color:#FFF}
.dbt-table-red tbody tr:last-of-type {  border-bottom: 2px solid #c91616;}
.dbt-table-red tbody tr:nth-of-type(even) {    background-color: #fdefef;}

.dbt-table-pink thead tr, .dbt-table-pink thead tr>th { background-color: #ffa3a3; color:#1f0000}
.dbt-table-pink tbody tr:last-of-type {  border-bottom: 2px solid #ffa3a3;}
.dbt-table-pink tbody tr:nth-of-type(even) {    background-color: #fdf1f1;}

.dbt-table-yellow thead tr, .dbt-table-yellow thead tr>th { background-color: #eaec41; color:#1f0000}
.dbt-table-yellow tbody tr:last-of-type {  border-bottom: 2px solid #eaec41;}
.dbt-table-yellow tbody tr:nth-of-type(even) {    background-color: #fafded;}

.dbt-table-gray thead tr, .dbt-table-gray thead tr>th { background-color: #5e5e5e;  color:#FFF}
.dbt-table-gray tbody tr:last-of-type {  border-bottom: 1px solid #5e5e5e;}
.dbt-table-gray tbody tr:nth-of-type(even) {    background-color: #f5f5f5;}


.dbt-table-white thead tr, .dbt-table-white thead tr>th { background-color: #ffffff; color:#5e5e5e;}
.dbt-table-white tbody tr:last-of-type {  border-bottom: 1px solid #5e5e5e;}
.dbt-table-white tbody tr:nth-of-type(even) {  background-color: #ffffff;}
.dbt-table-white thead tr td, .dbt-table-white thead tr th,  .dbt-table-white tbody tr td, .dbt-table-white td  {border:1px solid #5e5e5e; border-collapse: collapse;}
.dbt-table-white {border:none; border-collapse: collapse;}

.dbt-search-checkboxes-block, .dbt-search-checkbox-block { display: flex; align-items: center; margin-bottom:.5em; min-height:2.5em }
.dbt-search-input-block, .dbt-search-select-block { margin-bottom:.5em; min-height:2.5em }
.dbt-search-checkboxes-block .dbt-checkbox {padding:.5em 1em .5em .5em;}
.dbt-search-checkboxes-block .dbt-checkbox label, .dbt-checkbox-block label {margin:0}

input.dbt-search-checkbox {vertical-align: middle;}

.dbt-pagination {text-align: right; margin:.5em 0 }

.dbt-pagination-total {
    display: inline-block;
    vertical-align: middle;
    margin-right:1em;
}

.dbt-pagination-btns {
display: inline-block;
vertical-align: middle;
}

.dbt-pagination-btns a, .dbt-pagination-btns .pagination_click {
    color: black;
    float: left;
    padding: .25em .8em ;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #8c8f94;
    background: #FFF;
    font-size: 1em;
    line-height: 1em;
    min-height: inherit;
    height:1.8em;
    display: flex;
    align-items: center;
    cursor:pointer;
}

.dbt-pagination-btns span {
    color: rgba(0, 0, 0, .8);
    float: left;
    padding: .25em .8em ;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgba(140, 143, 148);
    background: rgba(255, 255, 255, .5);
    font-size: 1em;
    line-height: 1em;
    min-height: inherit;
    height:1.8em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dbt-pagination-btns a.active, .dbt-pagination-btns .pagination_click.active{
    background-color: #949494;
    color: white;
    border: 1px solid #818181;

}
.pagination a:hover:not(.active) {background-color: #ddd;}

.dbt-pagination-blue a.active, .dbt-pagination-blue  .pagination_click.active { background-color: #004798;}
.dbt-pagination-blue a:hover:not(.active), .dbt-pagination-blue  .pagination_click:hover:not(.active) {background-color: #e9e9f1;}
.dbt-pagination-green a.active, .dbt-pagination-green .pagination_click.active { background-color: #009879;}
.dbt-pagination-green a:hover:not(.active), .dbt-pagination-green .pagination_click:hover:not(.active) {background-color:#f1faf8;}
.dbt-pagination-red a.active, .dbt-pagination-red .pagination_click.active { background-color: #c91616;}
.dbt-pagination-red a:hover:not(.active), .dbt-pagination-red .pagination_click:hover:not(.active) {background-color:#fdefef;}
.dbt-pagination-pink a.active, .dbt-pagination-pink .pagination_click.active { background-color: #ffa3a3;}
.dbt-pagination-pink a:hover:not(.active), .dbt-pagination-pink .pagination_click:hover:not(.active) {background-color:#fdf1f1;}
.dbt-pagination-yellow a.active, .dbt-pagination-yellow .pagination_click.active { background-color: #eaec41; color:#111}
.dbt-pagination-yellow a:hover:not(.active), .dbt-pagination-yellow .pagination_click:hover:not(.active) {background-color:#fafded;}
.dbt-pagination-gray  a.active, .dbt-pagination-gray .pagination_click.active { background-color: #5e5e5e;}
.dbt-pagination-gray a:hover:not(.active), .dbt-pagination-gray .pagination_click:hover:not(.active) {background-color: #ddd;}



.dbt-search-row {
    display: block;
    margin: .5rem 0;
}
.dbt-search-row .dbt-search-input {
    display: inline-block;
    margin: 0.5em 0 ;
    font-size: 1em;
    line-height: 1em;
    padding: 0.2em 0.4em;
    min-height: inherit;
    height:1.8em;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: inherit;
    border:1px solid #8c8f94;
    width:inherit;
}
.dbt-search-row .dbt-search-select {
    display: inline-block;
    margin: 0.5em 0 ;
    font-size: 1em;
    line-height: 1em;
    padding: 0.2em 2em 0.2em .4em;
    min-height: inherit;
    height:1.8em;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: inherit;
    border:1px solid #8c8f94;
}


.dbt-search-row .dbt-search-button {
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0.3em 0.6em;
    line-height: 1em;
    min-height: inherit;
    min-width: inherit;
    display: inline-block;
    height:1.8em;
    box-sizing: border-box;
    cursor:pointer;
    vertical-align: middle;
    border:1px solid #8c8f94;
    font-weight: 700;
}

.dbt-pagination-total {
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.2em 0.4em;
    min-height: inherit;
    height:1.8em;
    vertical-align: text-top;
    font-weight: normal;
}

.dbt-select-pagination {
    display: inline-block;
    margin: 0.5em 0 ;
    font-size: 1em;
    line-height: 1em;
    padding: 0.2em 1.4em  0.2em 0.4em;
    min-height: inherit;
    height:1.8em;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: inherit;
    border:1px solid #8c8f94;
}

.dbt-search-row .dbt-search-button-blue, .dbt-children-color-blue .dbt-search-button-parent-attr { background-color: #004798 !important; color: rgba(255,255,255,.80); border-color:#003066}
.dbt-search-row .dbt-search-button-blue:hover, .dbt-children-color-blue .dbt-search-button-parent-attr:hover { background-color: #003066 !important;}
.dbt-search-row .dbt-search-button-green, .dbt-children-color-green .dbt-search-button-parent-attr { background-color: #009879 !important; color: rgba(255,255,255,.80); border-color:#005e4b}
.dbt-search-row .dbt-search-button-green:hover, .dbt-children-color-green .dbt-search-button-parent-attr:hover   { background-color: #005e4b !important;}
.dbt-search-row .dbt-search-button-red, .dbt-children-color-red .dbt-search-button-parent-attr { background-color: #c91616 !important; color: rgba(255,255,255,.80);  border-color:#960707}
.dbt-search-row .dbt-search-button-red:hover, .dbt-children-color-red .dbt-search-button-parent-attr:hover { background-color: #960707 !important;}
.dbt-search-row .dbt-search-button-pink, .dbt-children-color-pink .dbt-search-button-parent-attr { background-color: #ffa3a3 !important; color:#1a0101;  border-color:#d67878}
.dbt-search-row .dbt-search-button-pink:hover, .dbt-children-color-pink .dbt-search-button-parent-attr:hover { background-color: #d67878 !important;}
.dbt-search-row .dbt-search-button-yellow, .dbt-children-color-yellow .dbt-search-button-parent-attr { background-color: #eaec41 !important; color:#0a2001;}
.dbt-search-row .dbt-search-button-yellow:hover, .dbt-children-color-yellow .dbt-search-button-parent-attr:hover { background-color: #cbce24 !important;}
.dbt-search-row .dbt-search-button-gray, .dbt-children-color-gray .dbt-search-button-parent-attr { background-color: #5e5e5e !important; color: rgba(255,255,255,.80);  border-color:#3d3d3d}
.dbt-search-row .dbt-search-button-gray:hover, .dbt-children-color-gray .dbt-search-button-parent-attr:hover { background-color: #3d3d3d  !important;}

.dbt-search-label {
    vertical-align: middle; display: inline-block; margin-right: 1em;
}
.dbt-table .dbt-title-order-link {cursor:pointer; text-decoration: none; border: none;}
.dbt-title-order-link, .dbt-title-frontend  {White-space: nowrap; text-decoration: none;}
.dbt-title-order-link:focus {background:none !important; text-decoration: none !important;}



.dtf-th-dim-date  {min-width: 5em;}
.dtf-th-dim-varchar {min-width: 5em;}
.dtf-th-dim-text {min-width: 12em; max-width: 10em;}
.dbt-table .dbt-td-width-extra-large{min-width: 20em; max-width: 50em;}
.dbt-table .dbt-td-width-large{min-width: 12em; max-width: 30em;}
.dbt-table .dbt-td-width-regular{min-width: 6em; max-width: 20em;}
.dbt-table .dbt-td-width-small{min-width: 3em; max-width: 15em; padding-left:.5em; padding-right:.5em}
.dbt-table .dbt-td-width-extra-small{min-width: 1em; max-width: 10em; padding-left:.2em; padding-right:.2em}

.dbt-max-large-table {max-width: 100%;}

.dbt-table-overflow {
    overflow: auto;
    max-width: 100%;
}
.pina_debug_box {font-size: 14px; margin-bottom: 12 px ; border: 1 px solid #CCC; background: #ffffff; padding: 6 px ;}
.pina_debug_box .code { font-size: 11px; line-height: 14px; display:inline-block; background:#F2F2F2; border:1px solid #EEE; padding:5px; margin-right:5px;}

.pina_error_box { font-size: 11px; line-height: 14px; display:block; background:#F2F2F2; border:1px solid #EEE; padding:5px; margin-right:5px;}
.pina_error_color_error {background:#ffe0e0; border:1px solid #d60404; color:#960707 }
.pina_error_color_warning {background:#fffae0; border:1px solid #e0bd21; color:#966407 }


.dbt-cell-red { background: #ffcbcb !important; color: #700606 !important}
.dbt-cell-yellow { background: #feffbb !important; color: #504009 !important}
.dbt-cell-green { background: #bdeabc !important; color: #0e420a !important}
.dbt-cell-blue { background: #d3daee !important; color: #0a0b42 !important}
.dbt-cell-dark-red { background: #870000  !important; color: #ffcbcb !important}
.dbt-cell-dark-yellow { background: #887d0a !important; color: #f9fac0 !important}
.dbt-cell-dark-green { background: #0a5f04 !important; color: #e1f5e1 !important}
.dbt-cell-dark-blue { background: #175689 !important; color: #dde2f2 !important}
.dbt-cell-text-red {  color: #700606 !important}
.dbt-cell-text-yellow { color: #746c0a !important}
.dbt-cell-text-green { color: #0e420a !important}
.dbt-cell-text-blue { color: #0a0b42 !important}

.dbt-table tbody tr:nth-of-type(even) .dbt-cell-red {background: #eebbbb !important; color: #700606 !important}
.dbt-table tbody tr:nth-of-type(even) .dbt-cell-yellow { background: #eff0a6  !important; color: #504009 !important}
.dbt-table tbody tr:nth-of-type(even) .dbt-cell-green { background: #afe4ae !important; color: #0e420a !important}
.dbt-table tbody tr:nth-of-type(even) .dbt-cell-blue { background: #c3cff0 !important; color: #0a0b42 !important}


.dbt-table tbody tr:nth-of-type(even) .dbt-cell-dark-red {background: #6f0101 !important; color: #ffcbcb !important}
.dbt-table tbody tr:nth-of-type(even) .dbt-cell-dark-yellow { background: #776e05 !important; color: #f9fac0 !important}
.dbt-table tbody tr:nth-of-type(even) .dbt-cell-dark-green {background: #075302 !important; color: #e1f5e1 !important}
.dbt-table tbody tr:nth-of-type(even) .dbt-cell-dark-blue { background: #173f89 !important; color: #dde2f2 !important}


.dbt-table .dtf-td-top-left {vertical-align: top; text-align: left;}
.dbt-table .dtf-td-top-center {vertical-align: top; text-align: center;}
.dbt-table .dtf-td-top-right {vertical-align: top; text-align: right;}

.dbt-table .dtf-td-center-left {vertical-align: middle; text-align: left;}
.dbt-table .dtf-td-center-center {vertical-align: middle; text-align: center;}
.dbt-table .dtf-td-center-right {vertical-align: middle; text-align: right;}

.dbt-table .dtf-td-bottom-left {vertical-align: bottom; text-align: left;}
.dbt-table .dtf-td-bottom-center {vertical-align: bottom; text-align: center;}
.dbt-table .dtf-td-bottom-right {vertical-align: bottom; text-align: right;}


/* POPUP */
.dbt-fade {
    transition: opacity .15s linear;
    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.dbt-overflow-hidden {
    overflow: hidden !important;
    margin-right:26px;
}

.dbt-popup-box {
    position: fixed;
    display:flex;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    padding:1rem;
    box-sizing: border-box;
    z-index: 1055;
    opacity: 0;;
}

.dbt-popup-box-opacity {
    opacity: 1;
}
.dbt-popup-dialog {
    background: #FFF;
    width: 768px;
    margin:auto;
   
}
.dbt-popup-content {
    padding:1rem;
    position: relative;
    overflow-wrap: break-word;
}

@media screen and (max-width: 900px) {
    .dbt-popup-dialog {
        width: 90%;
    }
}
.dbt-popup-close {
    cursor:pointer;
    position: absolute;
    color:#000;
    top:0;
    right:5px;
    font-size:70px;
    line-height: 70px;
    display: block;
    font-weight:lighter;
}
/** FINE POPUP */

/** 
* PRELOAD
* 
* <div class="loader">
* <div></div>
* <div></div>
* <div></div>
* <div></div>
* </div>
*/

.dbt-loader {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    display: flex;
    overflow: hidden;
    align-items: center;
    background:rgba(255,255,255,.5);
    z-index: 1200;
}
.dbt-loader div {
    position: absolute;
    left: -20px;
    animation: animate 2.5s ease infinite;
    width: 15px;
    height: 15px;
    background: #CCC;
}
@keyframes animate {
    0% { left: -20px;}
    49% { left: 49%; }
    50% { left: 50%; }
    100% { left: 115%;}
}
.dbt-loader div:nth-child(1) { animation-delay: 0s; }
.dbt-loader div:nth-child(2) { animation-delay: 0.3s; }
.dbt-loader div:nth-child(3) { animation-delay: 0.6s; }
.dbt-loader div:nth-child(4) { animation-delay: 0.9s; }